@model Project.Models.Category

@{
    ViewBag.Title = "Uređivanje kategorije";
}

<h2>@ViewBag.Title</h2>
<span class="badge"></span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IDCategory)

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<<Povratak na listu kategorija", "Show")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            const form = $(e.target);
            const category = {};

            if (form.valid()) {
                const params = form.serializeArray();
                params.forEach(param => {
                    if (param.name.lastIndexOf('__') != -1) {
                        return;
                    }
                    category[param.name] = param.value;
                })

                $.ajax({
                    url: '@Url.Action(controllerName:"Category", actionName:"Edit")',
                    data: category,
                    method: 'post',
                    statusCode: {
                        200: function () {
                            $('.badge').html('Kategorija uspješno ažurirana');
                            setTimeout(function () {
                                window.location = '@Url.Action(controllerName:"Category", actionName: "Show")';
                            }, 2000);
                        },
                        400: function () {
                            $('.badge').html('Kategorija nije ažurirana');
                        }
                    }
                })
            }
        })
    </script>
}