@model IEnumerable<Project.Models.Category>

@{
    ViewBag.Title = "Prikaz kategorija";
}

<h2>@ViewBag.Title</h2>

@Html.AntiForgeryToken()

<p>
    @Html.ActionLink("Kreiraj kategoriju", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.IDCategory)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id=item.IDCategory }, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Prikaz detalja", "Details", new { id = item.IDCategory }, new { @class = "btn btn-info btn-sm" }) 
                @Html.ActionLink("Obriši", "Delete", new { id = item.IDCategory }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
